.board_wrap{width:1250px; height:auto; background:white; margin-left:340px; margin-top:-60px; }

.category_wrap{width:1050px; height:100px; margin:0 auto;}
.category li{ display:block; width:200px; height:50px; background:#f7f7f7; border-radius:30px; text-align:center; line-height:50px; font-weight:600; cursor:pointer; transition:all 0.05s;}
.category li{background:#f7f7f7; color:#6255f6; font-weight:500;}

.board_view_wrap{margin-top:50px;}

.bt_wrap{margin-top:30px;}
.bt_wrap a{display:block; width:140px; height:50px; background:#6255f6; color:#74eb8b; border-radius:30px; font-size:16px; text-align:center; line-height:50px;}

.board_view {
    width: 1250px;
    border-top: 1px solid #ccc;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #eee;
    font-size: 19px;
    color:#282828;
    font-weight: bold;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #ccc;
				font-size:18px;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 30px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 16px;
    color:#282828;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #808080;
}

.board_view .cont_wrap {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    letter-spacing: 1px;
    line-height: 160%;
    font-size: 14px;
    color:#282828;
}

.board_view .cont_img {width:300px; height:300px; background:#808080;}
.cont{width:900px; height:300px; margin-left:20px;}

.cmmt_tit{width:100%; padding:0 20px; border-bottom:1px solid #eee; line-height:40px; box-sizing:border-box; font-size:16px; font-weight:bold;}
.comment_view{width:100%; height:auto; border-bottom:1px solid #eee; padding:10px 20px; font-size:16px; color:#282828; box-sizing:border-box;}
.comment_view>.c_id{font-weight:bold; line-height:40px; align-self:flex-start; margin-top:10px;}
.comment_view>.c_commt{width:1000px; height:auto;border:1px solid #eee; padding:10px 10px; box-sizing:border-box; margin:10px 0; border-radius:10px; margin-left:20px; font-size:14px; background:#fff;}
.comment_view .c_date{color:#808080; font-size:15px; margin-left:13px; font-size:14px; align-self:flex-end; margin-bottom:8px; line-height:40px;}
.cmmt_wrap>ul:last-child{border-bottom:1px solid #ccc;}

.board_view_comment{
    width:100%;
				height:70px;
    border-bottom: 1px solid #ccc;
			 padding:10px 20px;
				font-size:16px; color:#282828; box-sizing:border-box;}

.comment>.c_id{font-weight:bold; }
.comment>.c_commt>input{width:1000px; margin-left:20px; height:40px; border:1px solid #eee; border-radius:10px; padding:0 10px; box-sizing:border-box; background:#f7f7f7;}
.comment>.c_commt>input:focus{outline:none;}
.comment>.c_commt>button{width:60px; height:40px; border:none; margin-left:10px; border-radius:10px; color:#74eb8b; cursor:pointer; background:#6255f6;}