.banner{height:auto;}

.product_wrap{width:1315px; height:auto; margin-left:300px; margin-top:100px;}

.category_wrap{width:1250px; height:100px; margin:0 auto; border-top:1px solid #ccc; border-bottom:1px solid #eee;}
.category{width:100%;}
.category li{ display:block; width:200px; height:50px; background:#f7f7f7; border-radius:30px; text-align:center; line-height:50px; font-weight:600; cursor:pointer; transition:all 0.05s;} 
.category li:nth-child(1) {background:#fff; color:#6255f6; font-size:32px;}

.product{flex-wrap:wrap; margin-top:50px; margin-bottom:50px;}
.cate{flex-wrap:wrap;}
.tv_pro{width:380px; height:auto; margin-bottom:60px; margin-left:43px;}

.p_img{width:380px; height:260px; background:#cfcfcf;  overflow:hidden;  border-radius:20px; }
.p_img>li>a>img{height:280px;}
.p_text{flex-wrap:wrap; color:#282828;}
.p_text>li{width:380px; height:60px; line-height:60px;  font-size:21px; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;}
.p_text>li:first-child{height:50px; line-height:60px;}
.p_text>li:first-child>span{color:#6255f6;}
.p_text .star{color:#fffb00;}
.p_text .black{color:#282828; font-size:17px;}
.p_text>li:last-child{height:50px; line-height:60px;}


.cart{width:380px; height:80px;}
.cart>li{width:160px; height:45px; background:#f7f7f7; line-height:40px; border-radius:20px; font-weight:300; cursor:pointer; transition:all 0.05s;}
.cart>li:hover{background:#6255f6; color:#fff;}
.none2{display:none;}
.cart>li:hover .none2{display: block;}
.cart>li img{height:20px;}

.cart>li .bk2{display:none;}
.cart>li:hover .bk1{display:none;}
.cart>li:hover .bk2{display:block;}

.cart>li .heart{height:16px;}
.cart>li .heart2{display:none;}
.cart>li:hover .heart1{display:none;}
.cart>li:hover .heart2{display:block;}

