@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'The Jamsil OTF 1 Thin','The Jamsil OTF 2 Light','The Jamsil OTF 3 Regular','The Jamsil OTF 4 Medium','The Jamsil OTF 5 Bold','The Jamsil OTF 6 ExtraBold';
    font-weight: 100 ,300, 400, 500, 700, 800;
				src: url('@font/The Jamsil OTF 1 Thin') format('woff2');
				src: url('@font/The Jamsil OTF 2 Light') format('woff2');
				src: url('@font/The Jamsil OTF 3 Regular') format('woff2');
				src: url('@font/The Jamsil OTF 4 Medium') format('woff2');
				src: url('@font/The Jamsil OTF 5 Bold') format('woff2');
				src: url('@font/The Jamsil OTF 6 ExtraBold') format('woff2');
}

*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration: none; color:inherit;}
img{display:block;}
input{background:none; border:none; font-size:18px; font-family: 'Noto Sans KR', sans-serif; }
button{background:none; border:none; font-size:18px; font-family: 'Noto Sans KR', sans-serif;}

body{font-family:'Noto Sans KR','The Jamsil OTF 1 Thin'; color:#6255f6; font-size:18px; width:100%; height:auto;}
/* 보라색 : 6255f6   연두색 : 74eb8b   회색 : d0d0d0 */
.f{display:flex;}
.fa{display:flex; justify-content:space-around;}
.fb{display:flex; justify-content:space-between;}
.fc{display:flex; justify-content:center;}
.fs{display:flex; justify-content:flex-start;}
.fe{display:flex; justify-content:flex-end;}
.ac{align-items:center;}
.ae{align-items:flex-end;}

.pf{position:fixed;}
.pr{position:relative;}
.pa{position:absolute;}

.none{display:none;}

/* 배경 고정 */
.back_wrap{z-index:-1}
.line_left{width:1px; height:100vh; background:#ebebeb; left: 355px;}
.line_right{width:1px; height:100vh; background:#ebebeb; right: 228px;}
.withmule{top:480px; left:140px;}

/* main start */
.wrap{width:94%; height:auto; margin:0 auto;}
.header{height:150px;}
.join_wrap{align-self:center; width:160px; margin-right:270px; color:#282828; right:0; font-weight:300;}

.menu_wrap h2{font-family:'The Jamsil OTF 2 Light'; font-size:24px; margin-top:80px; margin-bottom:20px;}
.menu_wrap h2>.line{width:140px; height:8px; background:#74eb8b; position:absolute; top:100px; left:0px;  z-index: -1;}
.menu_wrap li{color:#282828; font-weight:300; line-height:65px; position:relative;}
.menu_wrap li:hover .line1{display:block;}
.menu_wrap li:hover .line6{display:block;}
.menu_wrap li:hover .line7{display:block;}
.abroad_menu ul>li:hover .underline{display:block;}
.underline{height:8px; background:#74eb8b; position:absolute; top:38px; left:0px;  z-index: -1; border-radius:3px;}
.menu_wrap .line1{width:75px;}
.menu_wrap .line2{width:90px;}
.menu_wrap .line3{width:80px;}
.menu_wrap .line4{width:122px;}
.menu_wrap .line5{width:155px;}
.menu_wrap .line6{width:75px;}
.menu_wrap .line7{width:55px;}

.abroad_menu>li{margin-left:10px;}
.abroad_menu>.point{color:#6255f6; font-weight:500; font-size:19px; line-height:70px;}
.abroad_menu ul{margin-bottom:20px;}
.abroad_menu ul>li{margin-left:20px;}

.banner_img{width:1320px; margin-left:300px;}

.cate div{cursor: pointer;}

.quick_wrap{right:50px; margin-top:50px; width:70px; height:300px; border:1px solid #ebebeb; background:#fff; font-size:12px;}
.quick li{height:75px; position:relative;}
.quick li:first-child{margin-top:50px;}
.quick li:last-child{margin:0;}
.sub_cnt{position:absolute; top:-10px; right:-10px; background:rgba(98, 85, 246, 0.4); color:#fff; width:20px; height:20px; border-radius:50px; text-align:center; line-height:20px;}

.sns_wrap{bottom:50px; left:50px;}
.sns{width:200px;}

.chat_wrap{right:80px; bottom:40px;}
.chat{width:80px;height:80px; background:#6255f6; color:#fff; border-radius:100%; font-family:'The Jamsil OTF 1 Thin';}

.footer{width:100%; height:170px; background:#333; margin-top:5px; padding:20px 0; box-sizing:border-box; position:relative; bottom:0;}
.footer>.f_box{font-size:12px; color:#fff; font-weight:100; width:800px; flex-wrap:wrap; margin-left:700px;}
.f_box>.f1{width:600px;}
.f_box>.f1>li{line-height:30px;}
.f_box>.f1>li>a>.bar{margin:0 20px; color:#7d7d7d;}
.f_box>.f2{width:600px;}
.f_box>.f2>li{line-height:20px;}
.f_box>.f2>li>.bar{margin:0 20px; color:#7d7d7d;}

.f_box>.f3{width:600px; text-align:center;}
.f_box>.f3>.f_copylaw{margin-top:30px; color:#ebebeb}
.f_box>.f3>.f_copy{margin-top:10px; font-weight:400;}
.f_box>.f3>.f_copy>span{color:#74eb8b;}
