.wish_wrap{width:1330px; height:auto; margin-left:340px;padding-bottom:100px;}

.wish{width:1250px; height:auto; flex-wrap:wrap;}

.category_wrap{width:1050px; height:100px; margin:0 auto;}
.category li{width:200px; height:50px; background:#f7f7f7; border-radius:30px; text-align:center; line-height:50px; font-weight:500;}

.sell>li:first-child{background:#6255f6; color:#fff;}
.sell>li>img{opacity:1}

.wishlist_wrap{width:1250px; height:auto; margin-top:50px;text-align:center; font-size:16px;}
.wishlist_wrap>h4{ font-family: 'The Jamsil OTF 3 Regular'; margin-bottom:15px; margin-left:10px; position:relative;}
.wishlist_wrap>h4>.underline{width:116px; height:10px; border-radius:5px; background:#74eb8b; position:absolute; top:12px; left:-5px;}
.wishlist_title{border-top:1px solid #ccc; line-height:60px; border-bottom:1px solid #eee; padding:0 20px;}
.wishlist_title>li{color:#282828;}
.wishlist_title>li:first-child{width:80px;}
.wishlist_title>li:nth-child(2){width:680px;}
.wishlist_title>li:nth-child(3){width:150px;}
.wishlist_title>li:nth-child(4){width:180px;}

.wishlist {color:#282828; padding:0 20px; line-height:100px; height:100px; border-bottom:1px solid #eee;}
.wishlist>li>button{border:1px solid #ccc; padding:5px 6px; cursor:pointer; background:#fff;}

.wishlist>li:nth-child(2){width:680px;}
.wishlist>li:nth-child(2)>p{width:630px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.wishlist>li:nth-child(2) img{height:50px; margin-right:30px;}
.wishlist>li:first-child{width:80px;}
.wishlist>li:nth-child(2){width:680px;}
.wishlist>li:nth-child(3){width:150px;}
.wishlist>li:nth-child(4){width:180px;}

.gogo>span{border:1px solid #6255f6; padding:10px 15px; border-radius:20px; color:#6255f6; font-size:15px; transition:0.1s;}
.gogo>span:hover{background:#6255f6; color:#fff; cursor: pointer;}
	