<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.ProductDAO">
	
	<!--해외공구상품 등록 -->
	<insert id="OPupload" parameterType="com.smhrd.model.ProductVO">
		insert into product values(
		product_SEQ.nextval,#{prod_name},#{prod_cate},#{prod_price},#{prod_title},
		#{prod_img1},#{prod_img2},#{prod_desc},'0','0',sysdate,#{number_of_people},
		#{customs_clearance_num},#{seller_id},'0', #{return_period},'0')
	</insert>
	
	<!--중고거래상품 등록 -->
	<insert id="UPupload" parameterType="com.smhrd.model.ProductVO">
		insert into product values(
		product_SEQ.nextval,#{prod_name},'N',#{prod_price},#{prod_title},
		#{prod_img1},#{prod_img2},#{prod_desc},'0','0',sysdate,'0',
		'0',#{seller_id},'1', #{return_period},'0')
	</insert>
	
	 <!--해외공구상품 출력-->
	 <!--prod_check=0(해외공구상품) prod_check=1(중고거래 상품)-->
	<select id="OPshow" resultType="com.smhrd.model.ProductVO">
		select * from product where prod_check='0' 		 
	</select>
	
	
	 <!--중고거래상품 출력-->
	 <!--prod_check=0(해외공구상품) prod_check=1(중고거래 상품)-->
	<select id="UPshow" resultType="com.smhrd.model.ProductVO">
		select * from product where prod_check='1' 		 
	</select>
	
	 <!--상품 상세정보 페이지 -->
	<select id="ShowProdDetail" resultType="com.smhrd.model.ProductVO" parameterType="int">
		select * from PRODUCT where prod_num=#{prod_num}
	</select>
	
	<!-- 로그인한 유저의 상품 장바구니 조회  -->
  	 <select id = "Bucket" resultType="com.smhrd.model.ProductVO" parameterType = "String">
		select T1.*, T.* from PRODUCT T1
		JOIN BUCKET T
		ON T1.PROD_NUM = T.PROD_NUM
		AND T.u_id = #{u_id} 
  	 </select>
  	 
  	<!--장바구니에 담아놓은 상품 결제완료시 구매한 사람 수 업데이트 -->
	<update id="buyerCntUpdate">
 	UPDATE product p
	SET p.buyer_cnt =(SELECT SUM(o.amount)
                      FROM m_order o
                      WHERE o.prod_num = p.prod_num) 
	</update>
	
	
	<!-- 로그인한 유저의 상품 주문내역 조회 -->
	<select id="orderList" resultType="com.smhrd.model.ProductVO" parameterType = "String">
		select T1.*, T.* from PRODUCT T1
		JOIN m_order T
		ON T1.PROD_NUM = T.PROD_NUM
		AND T.U_ID = #{u_id}
	</select> 
	
</mapper>	