<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IdCheckCon</servlet-name>
  	<display-name>IdCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.IdCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OpCon</servlet-name>
  	<display-name>OpCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OpCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BucketCon</servlet-name>
  	<display-name>BucketCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BucketCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AmountCheckCon</servlet-name>
  	<display-name>AmountCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AmountCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AmountUpdateCon</servlet-name>
  	<display-name>AmountUpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.AmountUpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCon</servlet-name>
  	<display-name>OrderCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.OrderCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaySuccessCon</servlet-name>
  	<display-name>PaySuccessCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PaySuccessCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyerCntUpdateCon</servlet-name>
  	<display-name>BuyerCntUpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BuyerCntUpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PayCon</servlet-name>
  	<display-name>PayCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PayCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeliveryProgressCon</servlet-name>
  	<display-name>DeliveryProgressCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeliveryProgressCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentStatusCon</servlet-name>
  	<display-name>PaymentStatusCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PaymentStatusCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsedProdCon</servlet-name>
  	<display-name>UsedProdCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UsedProdCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsedprodStatusCon</servlet-name>
  	<display-name>UsedprodStatusCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UsedprodStatusCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewStatusCon</servlet-name>
  	<display-name>ReviewStatusCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ReviewStatusCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReturnStatusCon</servlet-name>
  	<display-name>ReturnStatusCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ReturnStatusCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewCon</servlet-name>
  	<display-name>ReviewCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ReviewCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserModifyCon</servlet-name>
  	<display-name>UserModifyCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UserModifyCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WishListCheckCon</servlet-name>
  	<display-name>WishListCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WishListCheckCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WishListCon</servlet-name>
  	<display-name>WishListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WishListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDeleteCon</servlet-name>
  	<display-name>UserDeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UserDeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBucketCon</servlet-name>
  	<display-name>DeleteBucketCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteBucketCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteWishListCon</servlet-name>
  	<display-name>DeleteWishListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteWishListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardCon</servlet-name>
  	<display-name>BoardCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardCommentCon</servlet-name>
  	<display-name>BoardCommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardCommentCon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IdCheckCon</servlet-name>
  	<url-pattern>/IdCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OpCon</servlet-name>
  	<url-pattern>/OpCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BucketCon</servlet-name>
  	<url-pattern>/BucketCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AmountCheckCon</servlet-name>
  	<url-pattern>/AmountCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AmountUpdateCon</servlet-name>
  	<url-pattern>/AmountUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCon</servlet-name>
  	<url-pattern>/OrderCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaySuccessCon</servlet-name>
  	<url-pattern>/PaySuccessCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyerCntUpdateCon</servlet-name>
  	<url-pattern>/BuyerCntUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PayCon</servlet-name>
  	<url-pattern>/PayCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeliveryProgressCon</servlet-name>
  	<url-pattern>/DeliveryProgressCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentStatusCon</servlet-name>
  	<url-pattern>/PaymentStatusCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsedProdCon</servlet-name>
  	<url-pattern>/UsedProdCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsedprodStatusCon</servlet-name>
  	<url-pattern>/UsedprodStatusCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewStatusCon</servlet-name>
  	<url-pattern>/ReviewStatusCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReturnStatusCon</servlet-name>
  	<url-pattern>/ReturnStatusCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewCon</servlet-name>
  	<url-pattern>/ReviewCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserModifyCon</servlet-name>
  	<url-pattern>/UserModifyCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WishListCheckCon</servlet-name>
  	<url-pattern>/WishListCheckCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WishListCon</servlet-name>
  	<url-pattern>/WishListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDeleteCon</servlet-name>
  	<url-pattern>/UserDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBucketCon</servlet-name>
  	<url-pattern>/DeleteBucketCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteWishListCon</servlet-name>
  	<url-pattern>/DeleteWishListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardCon</servlet-name>
  	<url-pattern>/BoardCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardCommentCon</servlet-name>
  	<url-pattern>/BoardCommentCon</url-pattern>
  </servlet-mapping>



</web-app>
